[submodule "submodule/zaw"]
	path = submodule/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "submodule/zgen"]
	path = submodule/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "submodule/asdf"]
	path = submodule/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "submodule/exenv"]
	path = submodule/exenv
	url = https://github.com/mururu/exenv.git
