[submodule "submodule/zaw"]
	path = submodule/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "submodule/direnv"]
	path = submodule/direnv
	url = https://github.com/zimbatm/direnv.git
[submodule "submodule/irb-config"]
	path = submodule/irb-config
	url = https://github.com/nviennot/irb-config.git
[submodule "submodule/zgen"]
	path = submodule/zgen
	url = https://github.com/tarjoilija/zgen.git
