[submodule "submodule/zaw"]
	path = submodule/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "submodule/zgen"]
	path = submodule/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "submodule/asdf"]
	path = submodule/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "submodule/gnome-terminal-colors-solarized"]
	path = submodule/gnome-terminal-colors-solarized
	url = https://github.com/aruhier/gnome-terminal-colors-solarized.git
